*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game_container{
    width: 100vw;
    height: 100vh;
    border-bottom: 10px solid green;
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
}

.game_tube{
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 0;
}